battery.log

# Mac
.DS_Store

# Executables
*.a
*.o

# Build_directories
cmake_build
build*
.build

# python
typings
__pycache__
.python-version

# nodejs
node_modules

# Rust
target

# zsh cache
.zcompcache
.zcompdump*
.zsh_history
.zsh_sessions
.iterm2
lazygit/state.yml

.task
result
